.cointainer1{
    border: 1px ;
    margin: auto;
    height: 250px;
    padding: 16px;
    box-shadow: rgba(0,0,0,0.12) 0px 0px 20px 0px;
    border-radius: 10px;
    width: 400px;
    margin-bottom: 10px;
}
.cointainer11{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6px;
    margin-left: 0px;
    
}
.center{ /*image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.font{
    font-size:  1.25rem;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin-bottom: 0px;
    text-align: center;
    box-sizing: inherit;
}
.f2{ /*footer*/
    
    background:linear-gradient(45deg, rgb(25,29,41), rgb(60, 89,129));
    border-radius: 20px;
    height: 380px;
    text-align: center;
    display: flex;
    bottom: 0px;
    width: 95%;
    margin-left: 40px;
    position: relative;
}
.m1{   /*about*/
    font-size: 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-left: 5px;
    color: #fff;
   
}
.h1{
    margin-left:90px; 
    color: #fff;
    font-size: 16.5px;
}
.h2{
    margin-left: 150px;
    color: white;
    margin-bottom: 1px;
    font-size: 16.5px;
}
.h3{
    color: #fff;
    text-decoration: underline; 
    text-align: center;
    font-size: 18px;
}

.f1,
   .d1 {
    /* border: 2px solid blue; */
    margin: 10px;
    padding: 5px;
    display: flex;
    height: 220px;
    font-size: 15px;
    color: white;
}
    
@media screen and (min-width:375px) and (max-width:667px){  

    .f1, .d1{
        display: block;
        margin-bottom: 25px;
    }
}

.c11{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    transform: translate(0, 1.5px) scale(0.75);
    transform-origin: top left;
    top:0;
    left:0;

    color: rgba(0,0,0,0.54);
    font-size: 1rem;
}
.c12{
    padding-right: 24px;
    height: auto;
    overflow: hidden;
    min-height: 1.1876em;
    white-space: nowrap;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    min-width: 16px;
    user-select: none;
    border-radius: 0;
    padding-top: 3px;
    font: inherit;
    color: currentColor;
    width: 20%;
    border: 0;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}
.i1{
    padding: 4px;
}