.c1{ /*header*/
    background:black;
    margin-bottom: 10px;
}

.d3 {  
    border: none;
    float:right;
    padding: 5px;
}
a:visited{
    color: none;
}
a:active{
    color: none;
}
a{
    text-decoration: none;
    color:white;
}
.f3{    /*Item*/
    font-size: 50px;
    color:rgb(177, 111, 171);
    font-family: Great Vibes, cursive;
    text-align: center;
   
}
.s1, .d2{
    /*section div*/
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex: 1;              
    margin-left: 15px;
    margin-right: 0px;
    border-radius: 15px;
   
    
}
.img1:hover , .img2:hover , .img3:hover, .img4:hover, .img5:hover, .img6:hover{
    border-radius: 15px;
    transform: scale(1.0, 1.2);
}
.m2{
    display: grid;
    grid-template-columns: 100px 100px 100px;
}