.c1{ /*header*/
    background:linear-gradient(45deg, rgb(25,29,41), rgb(60, 89,129));
    margin-bottom: 80px;
    background-size: cover;
    width: 100%;
    top: 0;
    left: auto;
    right: 0;
    line-height: 2;
    position: fixed;
}

@keyframes index{ /*home,order*/
    from {background-color:  seashells;}
    to {background-color: brown;}
}
.d33:hover{
    background-color:seashell;
    animation-name: index; /*keyframe*/  
    animation-duration:6s;
    border-radius: 5px;
}
@keyframes index1{  /* follow us*/
    from {background-color:black;}
    to {background-color: rgb(145, 115, 115);}
}
.d34:hover{
    background-color:black;
    animation-name: index1; /*keyframs*/
    animation-duration:10s;
    border-radius: 3px;
    border-width: 2px;
}
.d3 {  
    border: none;
    float:right;
    padding: 10px;

}
a:visited{
    color: none;
}
a:active{
    color: none;
}
a{
    text-decoration: none;
    color:white;
}
@keyframes color-change{
    0% { color: gray;}
    25% {color : rgb(55, 174, 221);}
    50% {color : rgb(10, 104, 101); }
    75% {color : royalblue;}
    100% {color : rgb(54, 2, 54);}
}
.f3{    /*Item*/
    font-size: 45px;
    color:#c8a97e;
    font-family: "Great Vibes", cursive;
    text-align : center;
    margin-top: 10px;
    margin-bottom : 5px;
    animation: color-change 5s infinite;
}
.f31{
    color: #c8a97e;
    font-size: 60px;
    font-family: "Great Vibes", cursive;
    text-align: center;
}
.s1, .d2{
    /*section div*/
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    flex: 1;              
    margin-left: 15px;
    margin-right: 0px;
    border-radius: 15px;
   
    
}
.img1:hover , .img2:hover , .img3:hover, .img4:hover, .img5:hover, .img6:hover{
    border-radius: 15px;
    transform: scale(1.0, 1.2);
}
.m2{
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.image{
    width: 100%;
    height: 620px;
}
.q1{
    position: relative;
}
.q2{
    position: absolute;
    left: 650px;
    top:155px;
    width:100px;
}
.q3{
    position: absolute;
    font-family: "Great Vibes", cursive;
    font-size: 60px;
    color: white;
    left: 350px;
    top:250px;
    font-weight: 900;
    font-size: 60px
}
.q4{
    position: absolute;
    left:600px;
    top:350px;
    background: linear-gradient(45deg, rgb(25,29,41), rgb(60, 89,129));
    border-radius: 25px;
    padding: 5px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    box-shadow: none;
    letter-spacing: 1;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.q5{
    position: absolute;
    left:650;
    top:410px;
    width: 105px;
}
